
/* reseteo */
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;

  font-family: sans-serif;
}

.img-banner{
  background-image: url('https://farmacityar.vtexassets.com/assets/vtex.file-manager-graphql/images/10ccf753-a6e4-4a24-9ff0-316b1085a6a5___ae5633ae1a0da98ca980578195c3815a.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  /* border-radius: 8px;
  width: 100%; */
}